<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ng-class="{active: selectedMenu=='dashboard'}">
                <a href="#/dashboard"  ng-click="selectedMenu='dashboard'"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a> 
            </li> 
            <li ng-init="collapse=true" ng-class="{active: !collapse};">

                <a href="#" ng-click="collapse=!collapse; selectedMenu='Charts'"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapse">
                    <li>
                        <a href="#/flot">Flot Charts</a>
                    </li>
                    <li>
                        <a href="#/morris">Morris.js Charts</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active:selectedMenu=='tables'}">
                <a href="#/table" ng-click="selectedMenu='tables'"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li ng-class="{active: selectedMenu=='Forms'}">
                <a href="#/form" ng-click="selectedMenu='forms'"><i class="fa fa-edit fa-fw"></i> Forms</a>
            </li>
            <li ng-init="drop = !drop" ng-class = "{active:!drop}">
                <a ng-click="drop=!drop"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse ="drop">
                    <li>
                        <a href="#/panels-wells">Panels and Wells</a>
                    </li>
                    <li>
                        <a href="#/buttons">Buttons</a>
                    </li>
                    <li>
                        <a href="#/notifications">Notifications</a>
                    </li>
                    <li>
                        <a href="#/typography">Typography</a>
                    </li>
                    <li>
                        <a href="#/icons"> Icons</a>
                    </li>
                    <li>
                        <a href="#/grid">Grid</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-init="multi = !multi" ng-class="{active:!multi}">
                <a ng-click="multi=!multi"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse = "multi">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li ng-init="third=!third" ng-class="{active:!third}">
                        <a href="#" ng-click="third=!third">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="third">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-init="pages=!pages" ng-class="{active:!pages}">
            <a ng-click="pages=!pages"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level"collapse="pages">
                <li>
                    <a href="#/blank">Blank Page</a>
                </li>
                <li>
                    <a href="#/login">Login Page</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 

