<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <primary-panel number="6" comments="New comments!" colour="primary" type="comments"></primary-panel>
        <primary-panel number="12" comments="New tasks!" colour="primary" type="user`"></primary-panel>
        <primary-panel number="18" comments="New orders!" colour="yellow" type="shopping-cart"></primary-panel>
        <primary-panel number="24" comments="Support tickets!" colour="red" type="support"></primary-panel>
        
       
        
    </div>
    
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <!-- /.panel-heading -->
                <timeline></timeline>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class= "row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Notifications Panel
                    </div>
                    <!-- /.panel-heading -->
                    <notifications></notifications> 
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

                <chat></chat>
                            <!-- /.panel .chat-panel -->
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>

